<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title" id="edit_node_modal_title">Register Euclid Node</h2>
    <h4 id="edit_node_modal_subtitle"></h4>
    <div id="error-message-placeholder" style="color:red;"></div>
</div>

<div class="modal-body">
    <form id="edit_node_form">

        <div id="edit_node_step"></div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_edit_node_close" style="position:absolute;left:15px;">Close</button>
    <button type="button" class="btn btn-primary" id="btn_edit_node_next" disabled="true">Next</button>
</div>