<div class="form-group">
    <span style="clear:none" class="help-block">Please enter node name and package, When done click Next.</span>
</div>

<div class="form-group">
    <label for="new_node_name">Euclid Node Name</label>
    <input type="text" class="form-control alpha-numeric" id="new_node_name" placeholder="Euclid Node Name" value="<%-node.name%>" required>
    <span style="clear:none" id="new_node_name_msg" class="help-block"></span>
</div>

<div class="form-group">
    <label for="new_node_packagename">Package</label>
    <input type="text" class="form-control alpha-numeric" id="new_node_packagename" placeholder="Package Name" value="<%-node.packageName%>">
    <span style="clear:none" id="new-node-package-name-msg" class="help-block"></span>
</div>