<div class="container">
    <div class="module-container panel-group" style="position:absolute;width:90%; left:5%;">

        <div class="panel panel-default" style="height: 100%">
            <div class="panel-heading">
                <h2>Nodes Status</h2>
                Monitor the status of the currently running Nodes.
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <h4>System Nodes</h4>
                        <div id="system-nodes-list"></div>
                    </div>

                    <div class="col-md-6">
                        <h4>Scenario Nodes</h4>
                        <div id="scenario-nodes-list"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>