<div class="container">
    <h1>Realsense Node let</h1>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="reset btn btn-danger">Reset</button>
        <button type="button" class="save btn btn-success">Update</button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Contrast</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>16 </b><input class="slider" data-key="color_contrast" type="text" data-slider-min="16" data-slider-max="64" data-slider-step="1" data-slider-value="34" /><b> 64</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_contrast_text" class="slide-input" value="34">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Saturation</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_saturation" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" /><b> 255</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_saturation_text" class="slide-input" value="128">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Sharpness</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_sharpness" type="text" data-slider-min="0" data-slider-max="7" data-slider-step="1" data-slider-value="0" /><b> 7</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_sharpness_text" class="slide-input" value="0">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Gain</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_gain" type="text" data-slider-min="0" data-slider-max="256" data-slider-step="1" data-slider-value="32" /><b> 256</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_gain_text" class="slide-input" value="32">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Enabled</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_lr_auto_exposure_enabled" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0" /><b> 1</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_lr_auto_exposure_enabled_text" class="slide-input" value="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Brightness</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_brightness" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="56" /><b> 255</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_brightness_text" class="slide-input" value="56">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Gamma</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>100 </b><input class="slider" data-key="color_gamma" type="text" data-slider-min="100" data-slider-max="280" data-slider-step="1" data-slider-value="220" /><b> 280</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_gamma_text" class="slide-input" value="220">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Right Edge</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_auto_exposure_right_edge" type="text" data-slider-min="0" data-slider-max="639" data-slider-step="1" data-slider-value="639" /><b> 639</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_auto_exposure_right_edge_text" class="slide-input" value="639">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Left Edge</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_auto_exposure_left_edge" type="text" data-slider-min="0" data-slider-max="639" data-slider-step="1" data-slider-value="0" /><b> 639</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_auto_exposure_left_edge_text" class="slide-input" value="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Enable Depth</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="enable_depth" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="56" /><b> 255</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="enable_depth_text" class="slide-input" value="56">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color Backlight Compensation</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_backlight_compensation" type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="1" /><b> 4</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_backlight_compensation_text" class="slide-input" value="1">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Enable Auto White Balance</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="color_enable_auto_white_balance" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1" /><b> 1</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_enable_auto_white_balance_text" class="slide-input" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Left Edge</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>-2200 </b><input class="slider" data-key="color_hue" type="text" data-slider-min="-2200" data-slider-max="2200" data-slider-step="1" data-slider-value="0" /><b> 2200</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_hue_text" class="slide-input" value="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Lr Gain</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>100 </b><input class="slider" data-key="r200_lr_gain" type="text" data-slider-min="100" data-slider-max="6399" data-slider-step="1" data-slider-value="400" /><b> 6399</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_lr_gain_text" class="slide-input" value="400">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Bottom Edge</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_auto_exposure_bottom_edge" type="text" data-slider-min="0" data-slider-max="479" data-slider-step="1" data-slider-value="479" /><b> 479</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_auto_exposure_bottom_edge_text" class="slide-input" value="479">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Emitter Enabled</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_emitter_enabled" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1" /><b> 1</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_emitter_enabled_text" class="slide-input" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Lr Exposure</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>1 </b><input class="slider" data-key="r200_lr_exposure" type="text" data-slider-min="1" data-slider-max="164" data-slider-step="1" data-slider-value="164" /><b> 164</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_lr_exposure_text" class="slide-input" value="164">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Auto Exposure Top Edge</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>0 </b><input class="slider" data-key="r200_auto_exposure_top_edge" type="text" data-slider-min="0" data-slider-max="479" data-slider-step="1" data-slider-value="0" /><b> 479</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="r200_auto_exposure_top_edge_text" class="slide-input" value="164">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Color White Balance</div>
                <div class="panel-body center">
                    <span class="help-block"></span>
                    <b>2000 </b><input class="slider" data-key="color_white_balance" type="text" data-slider-min="2000" data-slider-max="8000" data-slider-step="1" data-slider-value="6500" /><b> 8000</b>
                    <div class="slider-input-box">
                        <input type="number" data-key="color_white_balance_text" class="slide-input" value="6500">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="res" class="alert"></div>
</div>