<div class="container">
    <h3>Realsense Depth Follower</h3>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="follower_reset btn btn-danger">Reset</button>
        <button type="button" class="follower_save btn btn-success">Update</button>
    </div>
    <div class="row">
        <ul style="list-style:none">
            <li>
                <div style="clear:both;float:left;padding-right:10px;">Min Blob Size</div>
                <span class="help-block"></span>
                <b>0 </b><input class="slider" data-key="mMinBlobSize" type="text" data-slider-min="0" data-slider-max="100000"
                    data-slider-step="1" data-slider-value="3000" /><b> 100K</b>
                <input type="number" data-key="mMinBlobSize_text" class="slide-input" value="3000" style="width:75px;padding-right:20px;">
            </li>
            <li>
                <div style="clear:both;float:left;padding-right:10px;">GoalZ</div>
                <span class="help-block"></span>
                <b>0.6 </b><input class="slider" data-key="mMinBlobSize" type="text" data-slider-min="0.6" data-slider-max="3"
                    data-slider-step="1" data-slider-value="1" /><b> 3</b>
                <input type="number" data-key="mMinBlobSize_text" class="slide-input" value="1" style="width:75px;padding-right:20px;">
            </li>
            <li>
                <div style="clear:both;float:left;padding-right:10px;">GoalX</div>
                <span class="help-block"></span>
                <b>-10 </b><input class="slider" data-key="mMinBlobSize" type="text" data-slider-min="-10" data-slider-max="10"
                    data-slider-step="0.1" data-slider-value="0" /><b> 3</b>
                <input type="number" data-key="mMinBlobSize_text" class="slide-input" value="1" style="width:75px;padding-right:20px;">
            </li>

            <!-- <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Min Blob Size</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>0 </b><input class="slider" data-key="mMinBlobSize" type="text" data-slider-min="0" data-slider-max="100000"
                                            data-slider-step="1" data-slider-value="3000" /><b> 100K</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMinBlobSize_text" class="slide-input" value="3000">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">GoalZ</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>0.6 </b><input class="slider" data-key="mGoalZ" type="text" data-slider-min="0.6" data-slider-max="3.0"
                                              data-slider-step="0.1" data-slider-value="1.0" /><b> 3.0</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mGoalZ_text" class="slide-input" value="1.0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">GoalX</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mGoalX" type="text" data-slider-min="-10.0" data-slider-max="10.0"
                                                data-slider-step="0.1" data-slider-value="0.0" /><b> 10.0</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mGoalX_text" class="slide-input" value="1.0">
                            </div>
                        </div>
                    </div>
                </div> -->


            <!--                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Enabled</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <input type="checkbox" data-key="mEnabled" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Max Robot Speed</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>0 </b><input class="slider" data-key="mMaxRobotSpeed" type="text" data-slider-min="0" data-slider-max="10.0"
                                            data-slider-step="0.1" data-slider-value="1.0" /><b> 10.0</b>
                            <div class="slider-input-box">
                        
                "*actions": "loadView"
            },        <input type="number" data-key="mMaxRobotSpeed_text" class="slide-input" value="1.0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dumper Divisor</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>0 </b><input class="slider" data-key="mDumperDivisor" type="text" data-slider-min="0" data-slider-max="100.0"
                                            data-slider-step="0.1" data-slider-value="3.0" /><b> 100.0</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mDumperDivisor_text" class="slide-input" value="3.0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MaxZ</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10 </b><input class="slider" data-key="mMaxZ" type="text" data-slider-min="-10" data-slider-max="10"
                                              data-slider-step="1" data-slider-value="3" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMaxZ_text" class="slide-input" value="3.0">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MaxX</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mMaxX" type="text" data-slider-min="-10" data-slider-max="10.0"
                                                data-slider-step="0.1" data-slider-value="4.0" /><b> 10.0</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMaxX_text" class="slide-input" value="3.0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MaxY</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mMaxY" type="text" data-slider-min="-10" data-slider-max="10.0"
                                                data-slider-step="0.1" data-slider-value="2.0" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMaxY_text" class="slide-input" value="2.0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Goal Interval</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>0 </b><input class="slider" data-key="mGoalInterval" type="text" data-slider-min="0" data-slider-max="1.0"
                                            data-slider-step="0.1" data-slider-value="0.1" /><b> 1.0</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mGoalInterval_text" class="slide-input" value="0.1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">ScaleX</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10 </b><input class="slider" data-key="mScaleX" type="text" data-slider-min="-10.0" data-slider-max="10"
                                              data-slider-step="1" data-slider-value="5.0" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mScaleX_text" class="slide-input" value="5.0">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">ScaleZ</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mScaleZ" type="text" data-slider-min="-10.0" data-slider-max="10.0"
                                                data-slider-step="1" data-slider-value="1.0" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mScaleZ_text" class="slide-input" value="1.0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MinX</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mMinX" type="text" data-slider-min="-10.0" data-slider-max="10.0"
                                                data-slider-step="1" data-slider-value="-0.4" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMinX_text" class="slide-input" value="-0.4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MinY</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mMinY" type="text" data-slider-min="-10.0" data-slider-max="10.0"
                                                data-slider-step="1" data-slider-value="0.0" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMinY_text" class="slide-input" value="0.0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">MinZ</div>
                        <div class="panel-body">
                            <span class="help-block"></span>
                            <b>-10.0 </b><input class="slider" data-key="mMinZ" type="text" data-slider-min="-10.0" data-slider-max="10.0"
                                                data-slider-step="1" data-slider-value="0.3" /><b> 10</b>
                            <div class="slider-input-box">
                                <input type="number" data-key="mMinZ_text" class="slide-input" value="0.3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="res" class="alert"></div>
        </div>
-->