<div>
  <p class="center" id="cpumodel"></p>
  <div class="panel-body center">
     <span id="cpuGaugeContainer"></span>
     <span id="memoryGaugeContainer"></span>
     <span id="temperatureGaugeContainer"></span>
  </div>
  <div class="panel-body center">
     <div class="panel-heading">CPU Frequencies</div>
     <span id="core0GaugeContainer"></span>
     <span id="core1GaugeContainer"></span>
     <span id="core2GaugeContainer"></span>
     <span id="core3GaugeContainer"></span>
  </div>
</div>
