<div class="col-md-4" style="padding-left:1px;padding-right: 1px; min-width:350px" id="<%-name%>-block">
    <div class="panel panel-default">
        <div class="panel-heading"><span style="top:0px;font-weight:bold;font-size:1.4em;"><%-name%></span>
            <%-topic%>
        </div>
        <div style="height:300px;" class="panel-body monitor-panel-body">
            <iframe style="overflow: hidden;" scrolling="no" id="<%-name%>-iframe" src="<%-src%>" class="monitor-view" frameBorder="0" width="100%" height="100%"></iframe>
        </div>
    </div>
</div>