<div class="visible-xs visible-sm checkbox" style="padding-left:10px">
    <label class="checkbox-inline" style="width:100%">
      <input type="checkbox" class="view-toggle <%-item%>-check" data-key="<%-item%>" data-onstyle="info" data-toggle="toggle" >
  <%-item%></label>
</div>
<div class="hidden-xs hidden-sm">
    <label class="checkbox-inline">
      <input type="checkbox" class="view-toggle <%-item%>-check" data-key="<%-item%>" data-on="<%-item%>" data-off="<%-item%>" data-onstyle="info" data-toggle="toggle" >
 </label>
</div>