<iframe id="hidden_iframe" style="display:none;"></iframe>
<div class="container">
    <div class="module-container panel-group" style="position:absolute;width:90%; left:5%;">

        <div class="panel panel-default" style="height: 100%">
            <div class="panel-heading">
                <h2>Arduino</h2>
                <div>Open-source electronic prototyping platform allowing to create interactive electronic objects.</div>
                Generate or download arduino library for Euclid.
            </div>
            <div class="row" id="generateLib-div">
                <div class="col-md-2">
                    <button type="button" id="generate_new_btn" class="btn-fixed btn btn-default generate_new_btn"> Generate new library</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a type="button" class="btn-fixed btn download_lib_btn btn-default" href="files/euclid_lib.zip">Download library</a>
                </div>
            </div>
        </div>
    </div>
</div>