<div class="container">
    <div class="module-container panel-group" style="position:absolute;width:90%; left:5%;">

        <div class="panel panel-default" style="height: 100%">
            <div class="panel-heading">
                <h2>Overview</h2>
                Intel® Euclid(TM) Developer Kit
            </div>
            <div class="panel-body">
		The Intel® Euclid(TM) Developer Kit features the integration of Intel® RealSense(TM) camera technologies with Intel® Atom(TM) x7-Z8700 CPU to produce an all-in-one compute/depth camera device in a compact and sleek pacakge. The Intel Euclid Developer Kit is designed to be operable out of he box with pre-installed software including Linux® operating system.
		</br>
		Kit includes:
		<li>Integrated compute/camera platform with integrated graphics, 4GB memory, 32GB storage, USB3.0 port, HDMI video output, Wi-Fi® and Bluetooth®. The camera capability includes depth sensing, wide-angle fisheye camera and inertial measurement unit</li>
		<li>Battery pack for mobile use</li>
		<li>Power adapter (US)</li>
		<li>USB cable</li>
		<li>HDMI cable</li>

		</br> Please refer to the Intel Euclid Developer Kit page at <a href="http://click.intel.com/"> http://click.intel.com/ </a> for more information.
	     </div>
	</div>
     </div>
</div>
