<div class="container-fluid">
    <h3> System Update Form </h3>
    <form id="uploadUpdateForm" action="/software_update" method="post" class="form form-inline">
        <div class="form-group">
            <label for="uploadFile_input">File to Upload:</label>
            <input type="file" name="updateFile" id="uploadFile_input" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="upload" id="upload_btn" class="btn btn-primary form-control" style="display:none" />
        </div>

    </form>

    <div id="uploadResponse" style="display:none;padding:2em">
        <button class="button btn-primary" id="updateSystem">Update system</button>
        <div>* Update might cause the device to disconnect</div>
    </div>
</div>
