<div class="container">
    <div class="module-container panel-group" style="position:absolute;width:90%; left:5%;">

        <div class="panel panel-default" style="height: 100%">
            <div class="panel-heading">
                <h2>Wifi Settings</h2>
                Scan, edit or connect to networks.
            </div>
                        <div class="panel panel-default">
                <div class="panel-heading">Wifi</div>
                <div class="panel-body">
                    <p id="wifinetwork">Wifi Network: </p>
                    <p id="ipaddress">IP Address: </p>
                    <p id="macaddress">Mac Address: </p>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class=" col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Available Networks <span class="pull-right"> <button class="btn btn-default btn-header scan">Scan</button></span></div>
                        <div class="panel-body">

                            <ul id="available_networks"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Saved Networks <span class="pull-right"> <button class="btn btn-default btn-header refreshNetworks">Refresh</button> </span></div>
                        <div class="panel-body">

                            <ul id="saved_networks"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Hotspot <span class="pull-right"> <button class="btn btn-default btn-header startHotspot">Start Hotspot</button>
 </span></div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>